@font-face {
	font-family: 'Helvetica-Black';
	src: 	url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica-Bold';
	src: url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica-Italic';
	src: url('../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica-Light';
	src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica-Roman';
	src: url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');		
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica-Thin';
	src: url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica-UltraLight';
	src: url('HelveticaNeueCyr-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}